#!/usr/bin/make -f

DH_AUTO_OPTIONS := -v -Smakefile --parallel
DESTDIR         := $(CURDIR)/debian/$(shell dh_listpackages)
export CFLAGS   := $(shell dpkg-buildflags --get CFLAGS) -Wall -Wextra

%:
	dh "$@"

override_dh_auto_build:
	rm -f .pc/.*unapply # see bug#649521
	
	dh_auto_build $(DH_AUTO_OPTIONS) -- \
	                STRIP=: CFLAGS="$(CFLAGS)"

override_dh_auto_clean:
	dh_auto_clean $(DH_AUTO_OPTIONS)
	
override_dh_auto_install:	
	dh_auto_install $(DH_AUTO_OPTIONS) --destdir="$(DESTDIR)" -- \
	                STRIP=: CFLAGS="$(CFLAGS)"

